a:link {  
	text-decoration: none; 
	
}

a:active { 
	 text-decoration: underline;
	 
}

a:visited {
	 text-decoration: none; 
	 
}

a:hover {
	
	text-decoration: underline
}


BODY {
	background-color: #FAFAF4
}

BODY, TABLE, TD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.sitetag {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666632;
}

.footer {
	font-size: 10px;
	color: #666666}


.menuBar {
	background-color: #CCCC98;
	padding: 3px;
; text-align: left
}

.sidebarHeaderBox {
	background-color: #CD9933;
}

.sidebarHeader {
	font-weight: bold;
	font-size: 11px;
	color: #666632;
	text-align : left;
}


.contentHeader1 {
	font-size: 17px;
	vertical-align: bottom;
	font-weight: bold;
	line-height: 22px;
	color: #FFFFFF;
}
.contentHeader11 {
	font-size: 15px;
	vertical-align: bottom;
	font-weight: bold;
	line-height: 22px;
	color: #FFFFFF;
}

.contentHeader2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight: bold;
	line-height: 17px;
	font-size: 12px
}
.contentHeader3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight: bold;
	line-height: 17px;
	font-size: 14px
}
.contentFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight: bold;
	line-height: 17px;
	font-size: 12px;
	color: #FFFFFF;
}

.smallbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.home {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight: normal;
	font-size: 10px;
	color:#666632;
}

.homeHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	font-weight: bold;
	line-height: 17px;
	font-size: 12px;
	color:#000000;
}

.listheader {
	font-weight: bold;
	font-size: 11px
}


.faktaboksheader {
	font-weight: bold;
}


.formInputobject {
	font-size: 10px; 
	width: 150px;
}

.formInputobjectLong {
	font-size: 10px; 
	width: 250px;
}
.formTextobject {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	width: 150px;
	height:200px
}

.formTextobjectBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	width: 300px;
	height:300px
}

.formTextobjectLow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	width: 150px;
	height:100px
}
.formSubmitbutton {
	font-size: 10px;
	width: 70px;
	font-weight : bold;
}

.formbutton {
	font-size: 10px;
	width: 70px
}

.formLabeltext {
	font-weight: bold;
}

.listheaderItalic { font-weight: bold; font-size: 11px ; font-style: italic}
.subtitle { font-weight: normal; font-size: 11px ; color: #666632}
